.buttons button {
  background-color: #7950f2;
  color: white;
  border-radius: 25px;
  border: 1px solid #7950f2;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 25px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
