.numbers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.numbers div {
  background-color: grey;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  background-color: #7950f2 !important;
  color: #fff !important;
}
